<!-- Styles moved to custom_views.css -->
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">

<script>
  document.body.classList.add('bg-movie-form');
</script>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg rounded-4 p-4">
        <h1 class="text-center text-white mb-4">New Movie</h1>
        <%= render 'form', movie: @movie %>
        <%= link_to 'Back', series_index_path, class: 'btn btn-secondary mt-3' %>
      </div>
    </div>
  </div>
</div>
