<li class="page-item">
  <form action="" method="get" style="display:inline;">
    <input type="number" min="1" max="<%= defined?(total_pages) ? total_pages : 9999 %>" name="page" placeholder="..." style="width: 3.5em; text-align:center;" onkeydown="if(event.key==='Enter'){this.form.submit();return false;}">
  </form>
</li>
