<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 text-center">
      <% if current_user && !current_user.admin? && !current_user.pro? %>
        <%= link_to 'Upgrade to Pro', upgrade_payment_path, class: 'btn btn-gradient btn-lg' %>
      <% else %>
        <%= link_to 'Back to Movies', movies_path, class: 'btn btn-secondary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
