<div class="container py-5">
  <div class="alert alert-danger text-center">
    Series was successfully deleted.
  </div>
  <div class="text-center mt-4">
    <%= link_to 'Back to Series Gallery', series_index_path, class: 'btn btn-gradient' %>
  </div>
</div>
