<%= stylesheet_link_tag 'cinema_series_search', 'cinema_series_results', media: 'all' %>

<script>
  document.body.classList.add('bg-movie-index');
</script>

<% current_page = @series.respond_to?(:current_page) ? @series.current_page : 1 %>
<% [-2, -1, 0, 1, 2].each do |offset| %>
  <% cache ["series_index", current_page + offset, params[:q], params[:tags]] do %>
    <% if offset == 0 %>
      <turbo-frame id="series">
        <div class="container py-5">
          <h1 class="text-center text-white mb-5">Series Gallery</h1>

          <div class="mb-4">
            <%= render 'search_form' %>
          </div>

          <% if current_user&.admin? %>
            <div class="text-center mb-4">
              <%= link_to 'New Series', new_series_path, class: 'btn btn-gradient' %>
            </div>
          <% end %>

          <%= render 'results' %>
        </div>
      </turbo-frame>
    <% end %>
  <% end %>
<% end %>
