
<footer class="cinema-footer">
  <div class="container text-center">
    <div class="cinema-footer-brand">
      <%= image_tag "animate.png", class: "cinema-footer-icon", style: "width:35px;height:35px;object-fit:contain;" %>
    </div>
    
    <div class="cinema-footer-copyright">
      &copy; <%= Time.current.year %> Pirate On Rails. All rights reserved.
    </div>
    
    <div class="cinema-footer-links">
      <a href="https://github.com/tienbob/Pirate_on_rails" class="cinema-footer-link" target="_blank">
        <i class="fab fa-github me-1"></i>GitHub
      </a>
      <a href="/about" class="cinema-footer-link">
        <i class="fas fa-info-circle me-1"></i>About
      </a>
      <a href="/contact" class="cinema-footer-link">
        <i class="fas fa-envelope me-1"></i>Contact
      </a>
    </div>
    
  </div>
</footer>
